[Desktop Entry]
Encoding=UTF-8
Name=BUKS2
Exec=/home/master/build-UDP-Desktop_Qt_5_12_3_GCC_64bit-Release/UDP
Icon=/home/master/build-UDP-Desktop_Qt_5_12_3_GCC_64bit-Release/icon.png
Type=Application
